{% load staticfiles %}
<header>
    <div class="header clearfix">
        <h3><a href="/">家家乐</a></h3>
        <nav class="clearfix">
            <ul class="clearfix">
                <li class="first"><a href="/">首页</a></li>
                <li><a href="/sale/">我要买房</a></li>
                <li><a href="/rent">我要租房</a></li>
                <li><a href="/wantSale">我要出售</a></li>
                <li><a href="/wantRent" class="hover">我要出租</a></li>
                <li class="last"><a href="/contact">联系我们</a></li>
            </ul>
        </nav>
    </div>
</header>
