/*common header*/
header {
  width: 100%;
  background-color: #3fcbc0;
}
.header {
  width: 1050px;
  height: 50px;
  margin: 0 auto;
}
.header h3 {
  float: left;
  width: 40%;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 28px;
}
.header h3 a {
  color: #fff;
}
.header h3 a:hover {
  color: #ff1744;
}
/*common nav */
nav {
  width: 60%;
  float: left;
}
nav ul {
  float: right;
}
nav li {
  display: block;
  float: left;
}
nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
}
nav a:hover {
  background-color: #2cbcb8;
}
nav a.hover {
  background-color: #27a7a4;
}
/*common footer*/
footer {
  width: 100%;
  background-color: #2ea99f;
}
footer div {
  width: 1050px;
  height: 50px;
  margin: 0 auto;
  /*position: fixed;*/
  position: relative;
  /*bottom: 0;*/
  /*background-color: #6ab3ac;*/
}
.footer_title {
  position: absolute;
  left: 10px;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  /*height: 68px;*/
  /*line-height: 68px;*/
  color: #fff;
}
.social_icons {
  position: absolute;
  height: 50px;
  line-height: 50px;
  left: 500px;
  /*margin-top: 22px;*/
}
.social_icons li {
  float: left;
}
.social_icons a {
  display: inline-block;
  width: 24px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #6ab3ac;
  margin-right: 8px;
}
.social_icons a:hover {
  background-color: #e8645a;
  box-shadow: 0 0 1px 1px #e2534b;
}
.footer_nav {
  position: absolute;
  right: 10px;
  /*margin-left: 200px;*/
  height: 50px;
  line-height: 50px;
}
.footer_nav li {
  float: left;
  margin-left: 8px;
}
.footer_nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
}
.footer_nav a:hover {
  background-color: #2cbcb8;
}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
  border: 0 none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
body {
  z-index: 1;
  min-width: 1200px;
  background-color: #f4f4f4;
  font: 14px/1.5 "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}
/* 清除浮动 */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  content: "\20";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* 基本的全局样式 */
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.none {
  display: none;
}
.contact_us {
  width: 100%;
  min-width: 1170px;
  height: auto;
  padding: 10px 0;
  background-color: #f3f3f3;
}
.map {
  width: 1170px;
  height: 400px;
  margin: 20px auto;
  background-color: #e5e6e6;
}
.contact_us_con {
  width: 1170px;
  min-height: 400px;
  margin: 0 auto;
}
.send_inquiry {
  float: left;
  width: 780px;
  min-height: 400px;
  padding: 10px;
  background-color: #f3f3f3;
}
.send_title {
  color: #a6aeae;
  font-size: 24px;
  margin-bottom: 30px;
  padding-left: 10px;
}
.send_con li {
  /*display: block;*/
  margin: 20px 0;
}
.send_con .input_con {
  display: inline-block;
  width: 349px;
  height: 39px;
  margin-right: 30px;
  padding: 0 10px;
  line-height: 39px;
  border-top: 1px solid #d9dada;
  border-left: 1px solid #d9dada;
  background-color: #fff;
}
.send_con .input_con input {
  width: 96%;
}
.send_con li.first {
  margin-top: 0;
}
.send_con li label {
  color: #a6aeae;
  font-size: 18px;
}
.send_con li.submit_button input {
  background: #2ea99f;
  text-align: center;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 200px;
  color: #fff;
  cursor: pointer;
}
.send_con li.submit_button input:hover {
  background: #2cbcb8;
  font-size: 20px;
}
.send_con .textarea_con {
  width: 749px;
  height: 119px;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #d9dada;
  border-left: 1px solid #d9dada;
  border-right: 0 none;
  border-bottom: 0 none;
  outline: none;
  font-size: 18px;
}
.address {
  float: left;
  width: 350px;
  min-height: 400px;
  padding: 10px;
}
.address li {
  width: 270px;
  margin-left: 100px;
  margin-bottom: 10px;
}
.address li.first {
  margin-left: 90px;
}
.address li.second i {
  display: block;
  float: left;
  font-size: 24px;
  color: #e2534b;
  width: 20px;
  line-height: 42px;
}
.address li.second span {
  display: block;
  float: left;
  color: #b9b9b9;
  width: 200px;
}
.address i {
  color: #7f8c8c;
  font-size: 18px;
}
.address span.color {
  color: #e88883;
  font-size: 18px;
}
