<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <style>
        a {color: blue}
    </style>
</head>
<body>
    <p>
        谷歌应用下载器是后面所有应用基础，需要第一个安装
    </p>
    <h4>
        谷歌应用下载器
    </h4>
    <a href="http://app.mi.com/detail/36925">
        谷歌应用下载器
    </a>
    <h4>
        God of Light
    </h4> 
    <a target="_blank" href="http://www.wandoujia.com/apps/com.playmous.godoflight">
        God of Light
    </a>
    <h4>
        cytus
    </h4>
    <a target="_blank" href="http://www.wandoujia.com/apps/com.rayark.Cytus.full">
        cytus
    </a>
    <h4>
        点亮细胞
    </h4>
    <a href="http://www.wandoujia.com/apps/com.appxplore.sporos" target="_blank">
        点亮细胞
    </a>
    <h4>
        拔拔蔓陀萝
    </h4>
    <a href="http://www.wandoujia.com/apps/com.rayark.uproot" target="_blank">
        拔拔蔓陀萝
    </a>
    <h4>
        BADLAND
    </h4>
    <a href="http://www.wandoujia.com/apps/com.frogmind.badland" target="_blank">
        BADLAND
    </a>
    <h4>
        Deemo
    </h4>
    <a href="http://www.wandoujia.com/apps/com.rayark.pluto" target="_blank">
        Deemo
    </a>
    <h4>
        疯狂的斧头
    </h4>
    <a href="http://www.wandoujia.com/apps/com.yunzujia.MaxAxe">
        疯狂的斧头
    </a>
</body>
</html>
